#reports
  - @reports.each do |r|
    = render "moderation/moderationbox", report: r

- if @more_data_available
  .d-flex.justify-content-center.justify-content-sm-start#paginator
    = button_to moderation_reports_path(last_id: @reports_last_id, type: params[:type]), class: "btn btn-light" do
      = t("voc.load")

- parent_layout "moderation"
