= turbo_stream.append "reports" do
  - @reports.each do |r|
    = render "moderation/moderationbox", report: r

= turbo_stream.update "paginator" do
  - if @more_data_available
    = button_to t("voc.load"), moderation_reports_path(type: params[:type]),
      class: "btn btn-light",
      method: :get,
      params: { last_id: @reports_last_id },
      data: { controller: :hotkey, hotkey: "." },
      form: { data: { turbo_stream: true } }
