.d-flex.notification
  .flex-shrink-0.notification__icon
    %i.fa.fa-2x.fa-fw.fa-download
  .flex-grow-1
    %h6.notification__user
      = t(".heading")
    .notification__text
      = t(".text_html", settings_export: link_to(t(".settings_export"), settings_export_path))
