.d-flex.notification
  .flex-shrink-0.notification__icon
    %i.fa.fa-2x.fa-fw.fa-twitter
  .flex-grow-1
    %h6.notification__user
      = t(".heading")
    .notification__text
      = t(".text_html", settings_sharing: link_to(t(".settings_services"), services_path))
