.d-flex.notification
  .flex-shrink-0.notification__icon
    = render AvatarComponent.new(user: notification.target.source, size: "sm")
  .flex-grow-1
    %h6.notification__user
      = user_screen_name notification.target.source
    .notification__text
      = t(".heading_html", time: time_ago_in_words(notification.target.created_at), target: "_top")
