.d-flex.notification
  .flex-shrink-0.notification__icon
    %img.avatar-sm{ src: notification.target.source.profile_picture.url(:small), loading: :lazy }
  .flex-grow-1
    %h6.notification__user
      = user_screen_name notification.target.source
    .notification__text
      = t(".heading_html", time: time_ago_in_words(notification.target.created_at), target: "_top")
