-# This is a stub to prevent errors on broken notifications on content being asynchronously destroyed.
- logger.error "Notification ##{notification.id} has a target which doesn't exist. (Target: #{notification.target_type}##{notification.target_id})"
