.media.notification
  .notification__icon
    %i.fa.fa-2x.fa-fw.fa-smile-o
  .media-body
    .notification__heading
      %img.avatar-xs{ src: notification.target.user.profile_picture.url(:small) }
      = user_screen_name notification.target.user
      smiled
      = link_to 'your answer', show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.answer.id)
      = time_tooltip(notification.target)
      ago
    .list-group
      .list-group-item
        .media.question-media
          .media-body
            %h6.notification__list-heading answer
            = markdown notification.target.answer.content[0..60] + (notification.target.answer.content.length > 60 ? '[...]' : '')
