.answerbox .text-muted a, .answerbox .text-muted a:hover {
  color: $gray;
  text-decoration: none;
}

.answerbox--img {
  min-height: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
}

.answerbox--img-small {
  min-height: 20px;
  min-width: 20px;
  height: 20px;
  width: 20px;
}

.answerbox--question-text, .answerbox--question-user, .answerbox--answer-user, .answerbox--answer-date {
  margin-bottom: 0px;
  overflow: hidden;
}

.answerbox--question-text {
  color: $gray;
}

.answerbox--answer-text {
  font-size: 16px;
  color: #000;
  line-height: 1.3em;
}

.answerbox--question-text {
  line-height: 1.3em;
  overflow: hidden;
}

.answerbox--answer-date {
  font-size: 12px;
  line-height: 1.3em;
}

.answerbox [name="ab-smile"], .answerbox [name="ab-smile-comment"] {
  padding: 6px 11px;
  padding-left: 21px;
  position: relative;
  overflow: hidden;
  border: none;

  i.fa.fa-smile-o, i.fa.fa-frown-o, i.fa.fa-meh-o {
    position: absolute;
    font-size: 3em;
    left: -13px;
    top: -10px;
    display: block;
  }
}
