.comments {
  padding-left: 0;
}

.comments li {
  list-style-type: none;
}

.comments .pull-right {
  margin-top: -13px;
}

.comments--box {
  z-index: 99;
}

.comments--count {
  z-index: 0;
  margin-top: -2em;
}

.comments--body {
  overflow: visible !important;
}

.comments--content {
  overflow: hidden;
  word-break: normal;
}

.comments--content p {
  margin-bottom: 0px;
}

.comments--media {
  overflow: visible !important;
}