.locales {
  text-align: center;

  #locales-panel {
    position: relative;
    display:  none;
    padding:  5px;

    ul {
      border-top:      1px solid #aaa;
      margin:          0;
      padding:         0;
      padding-top:     5px;
      width:           100%;
      list-style:      none;
      display:         inline-flex;
      flex-direction:  row;
      flex-wrap:       wrap;
      align-items:     center;
      justify-content: center;
      li {
        margin:     5px 10px;
        margin-top: 0;
        flex:       0 0 auto;

        * {
          display:        inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}
