.notification--img {
  min-height: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
}

.notification--img-sm {
  min-height: 18px;
  min-width: 18px;
  height: 18px;
  width: 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.notification--user, .notification--text {
  z-index: 99;
  margin-bottom: 0px;
}

.notification--icon {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 5px;
  font-size: 36px;
  color: $gray;
  opacity: 0.4;
  z-index: 0;
}

.notification--dropdown {
  min-width: 370px;
  margin-top: 0px !important;
}

.notification--dropdown-media {
  padding: 5px 10px;
}

.notification--dropdown-user, .notification--dropdown-text {
  margin-bottom: 0px;
  overflow: hidden;
  line-height: 1.3em;
}

.notification--dropdown-user {
  margin-top: 0px;
}

.notification--dropdown-img {
  min-height: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.notification-center {
  min-width: 400px;
  margin-top: 0px !important;
}

.no-notifications:before {
  font-size: 64px;
  text-align: center;
  display: block;
  margin-bottom: 2px;
}

.notification--heading {
  margin-bottom: 4px;

  a {
    border-bottom: 1px dotted $link-color;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid $link-color;
    }
  }
}

.notification--list-heading {
  margin: 0px;
  position: absolute;
  top: 1px;
  left: 3px;
  margin: 0px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.3;
}

.notification--list-content {
  line-height: 1.3em;
  padding-top: 3px;
}

.notification--list {
  margin: 0px;
}

.notifications--none {
  padding: 10px;
}