.app--clear {
  clear: both;
}

.app--profile {
  h1 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    small {
      clear: both;
      display: block;
    }
  }

  img {
    height: 90px;
    vertical-align: middle;
  }
}

#app--secret-details {
  td {
    vertical-align: middle;
  }
}

#oautherize {
  .col-md-6:last-child {
    padding-left: 0
  }

  .app--profile {
    margin-bottom: 15px;
    clear: both;
  }
}

#oautherize, .oautherization, .oauth-panel {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
}

.applications--list-entry, .oautherization {
  border: none;
  margin-bottom: 5px
}

.oautherizations--list, .applications--list {
  margin-bottom: 0;
  padding-bottom: 0;
}
