.panel-primary .text-muted a, .panel-primary .text-muted a:hover {
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

.panel-primary .text-muted {
  color: #fff;
  opacity: 0.7;
}

.panel-primary .answerbox--question-text {
  color: #fff;
}

#questions .panel-body .media {
  &, .media-body {
    overflow: visible;
  }
}

.panel-question {
  position: fixed;
  border-top: 1px solid #fff;
  width: 100%;
  z-index: 999;
  border-color: #fff;
}

.panel-question.question-hidden {
  visibility: hidden;
  position: relative;
  box-shadow: none;
  z-index: -1;
}

.answerbox--question-media, .question-media, .question-body {
  overflow: visible !important;
}
