.btn {
  transform-origin:50% 65% 0;
  transition-duration: 0.15s;
  -webkit-transform-origin:50% 65% 0;
  -webkit-transition-duration: 0.15s;
  &:hover {
    -webkit-transform:scale(2, 2);
    transform:scale(2, 2);
  }
}
