.profile--img {
  min-height: 80px;
  min-width: 80px;
  height: 80px;
  width: 8px;
}

.profile--displayname {
  font-weight: 700;
  font-size: 1.2em;
  margin-top: -0.165em;
  line-height: 1.33em;
}

.profile--username {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.33;
}

.profile--followtag {
  margin: 0px 0px 0.2em;
}

.profile--text {
  margin-bottom: 2px;
  line-height: 1.5em;
  margin-top: 0.65em;
}

#profile--header {
  position: relative;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  background-color: darken($navbar-inverse-bg, 10%);
}

#profile--header.profile--no-header {
  position: absolute;
}

.profile--panel .panel-heading {
  color: $brand-primary;
  border-bottom: 2px solid $brand-primary;
  background-color: #fff;
  text-transform: uppercase;
}

.profile--panel .panel-body {
  padding-top: 0px;
}

.inbox--panel .panel-heading {
  color: $brand-info;
  border-bottom: 2px solid $brand-info;
  background-color: #fff;
  text-transform: uppercase;
}

.warning--panel .panel-heading {
  color: $brand-danger;
  border-bottom: 2px solid $brand-danger;
  background-color: #fff;
  text-transform: uppercase;
}

.profile--follow-btn {
  margin-top: 5px;
}

.profile--avatar {
  width: 100%;
  height: auto;
  border: medium none;
}

.profile--panel-badge {
  width: 100%;
  text-align: center;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

$colours: danger $brand-danger,
          default #BBB,
          success $brand-success,
          warning $brand-warning,
          primary $brand-primary,
          info #2980b9;

@each $colour in $colours {
  .panel-badge-#{nth($colour, 1)} {
    background-color: nth($colour, 2);
  }
}

.user--banned {
  text-decoration: line-through !important;
}

.profile--panel-push-inner:not(.profile--no-header) {
  display: block;
  height: 60px;
}

.profile--header-img {
  display: block;
  min-width: 900px;
  width: 100%;
}

@media(min-width: 767px) {
  .container.headerable:not(.profile--no-header) {
    padding-top: 0;
    margin-top: -30px;
  }
}

.userbox--header {
  width: 100%;
  height: auto;
}

.userbox--avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
  border-radius: 5px;
}

.userbox--username {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
