# Retrospring CODEOWNERS

# General code ownership
* @nilsding @pixeldesu

# Ruby/Backend related code
*.rb @nilsding
Gemfile.lock @nilsding

# Frontend assets
*.coffee @pixeldesu
*.js @pixeldesu
*.json @pixeldesu
*.scss @pixeldesu
*.ts @pixeldesu
yarn.lock @pixeldesu

# Frontend views
*.haml @pixeldesu

# Public documents
/service-docs/ @pixeldesu

# Localization
/config/locales/ @pixeldesu

# Tests
/spec/ @nilsding

# Docker setup related files
Dockerfile @pixeldesu
docker-compose.yml @pixeldesu
