%p= t(".body")
%p= t(".recovery_code_count", count: recovery_code_count)
= button_to t(".remove.action"), destroy_user_2fa_path, class: "btn btn-danger", method: "delete",
          data: { confirm: t(".remove.confirm") }
= button_to t(".regenerate.action"), reset_user_recovery_codes_path, class: "btn btn-primary", method: "delete",
          data: { confirm: t(".regenerate.confirm") }
