- provide(:title, t("doorkeeper.authorizations.show.title"))
.container.j2-page
  .row
    .col-md-2
    .col-md-8
      .panel
        .panel-body#oautherize
          %h1
            = t("doorkeeper.authorizations.show.title")
          %code#authorization_code= params[:code]
