.modal.fade#modal-ask-followers{ aria: { hidden: true, labelledby: "modal-ask-followers-label" }, role: :dialog, tabindex: -1 }
  .modal-dialog
    .modal-content{ data: { controller: "character-count-warning", "character-count-warning-warn-value": Question::SHORT_QUESTION_MAX_LENGTH }}
      .modal-header
        %h5.modal-title#modal-ask-followers-label= t(".title")
        %button.btn-close{ data: { bs_dismiss: :modal }, type: :button }
          %span.visually-hidden= t("voc.close")
      .modal-body
        .form-group.has-feedback
          %textarea.form-control{ name: "qb-all-question", placeholder: t(".placeholder"), data: { "character-count-warning-target": "input" } }
          .alert.alert-warning.mt-3.d-none{ data: { "character-count-warning-target": "warning" } }= t('.long_question_warning')
      .modal-footer
        %button.btn.btn-default{ type: :button, data: { bs_dismiss: :modal } }= t("voc.cancel")
        %button.btn.btn-primary{ name: "qb-all-ask", type: :button, data: { loading_text: t(".loading") } }= t(".action")
