.modal.fade{ id: "modal-view-comment#{comment.id}-smiles", aria: { hidden: true, labelledby: "modal-commentsmile-label" }, role: :dialog, tabindex: -1 }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title#modal-commentsmile-label= t(".title")
        %button.btn-close{ data: { bs_dismiss: :modal }, type: :button }
          %span.visually-hidden Close
      .modal-body
        - if comment.smiles.all.count.zero?
          = t(".none")
        - else
          %ul.smiles__user-list
            - comment.smiles.all.each do |smile|
              %li.smiles__user-list-entry
                %a{ href: user_path(smile.user) }
                  %img{ src: smile.user.profile_picture.url(:small), alt: user_screen_name(smile.user, url: false) }
                  %span= user_screen_name(smile.user, url: false)
