.modal.fade{ id: "modal-view-comment#{comment.id}-smiles", aria: { hidden: true, labelledby: 'modal-commentsmile-label' }, role: :dialog, tabindex: -1 }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title#modal-commentsmile-label= t 'views.answerbox.commentsmile'
        %button.close{ data: { dismiss: :modal }, type: :button }
          %span{ aria: { hidden: true } } ×
          %span.sr-only Close
      .modal-body
        - if comment.smiles.all.count.zero?
          = t 'views.answerbox.no_smile'
        - else
          %ul.smiles__user-list
            - comment.smiles.all.each do |smile|
              %li.smiles__user-list-entry
                %a{ href: show_user_profile_path(smile.user.screen_name) }
                  %img{ src: smile.user.profile_picture.url(:small), alt: user_screen_name(smile.user, url: false) }
                  %span= user_screen_name(smile.user, url: false)
