.modal.fade#modal-passwd{ aria: { hidden: true, labelledby: "modal-passwd-label" }, role: :dialog, tabindex: -1 }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title#modal-passwd-label= t(".title")
        %button.btn-close{ data: { bs_dismiss: :modal }, type: :button }
          %span.visually-hidden= t("voc.close")
      .modal-body
        = f.password_field :current_password, autocomplete: "current-password"
      .modal-footer
        %button.btn.btn-default{ data: { bs_dismiss: :modal }, type: :button }= t("voc.cancel")
        = f.primary class: 'btn btn-primary', data: { disable_with: false }
