.theme-preview.d-inline-block.g-col-4
  .card{ style: to_css, data: { theme_id: id } }
    .card-header.bg-primary
      .fake-text
      .fake-text
      .fake-text
    .card-body
      .raised
        .fake-text
        .rounded-circle.bg-success
        .rounded-circle.bg-danger
        .rounded-circle.bg-warning
        .rounded-circle.bg-info
    .card-footer= name
