$colors: (
  "primary", 
  "danger",
  "warning",
  "info",
  "success"
);

@each $color in $colors {
  .bg-#{$color} {
    background-color: var(--#{$color}) !important;
  }

  .text-#{$color} {
    color: var(--#{$color}) !important;
  }
}