.list-group-item {
  background-color: transparent;
  
  &.active,
  &.active:hover {
    background-color: var(--primary);
    border-color: var(--primary);
  }
}

.list-group-item-action {
  &:hover, &:focus {
    background-color: var(--raised-accent);
  }
}