.d-flex.smiles
  .flex-shrink-0.me-1
    %i.fa.fa-smile-o
  .flex-grow-1
    - if a.smiles.all.count.zero?
      = t(".none")
    - else
      - a.smiles.all.each do |smile|
        %a{ href: user_path(smile.user),
          title: user_screen_name(smile.user, url: false),
          data: { bs_toggle: :tooltip, bs_placement: :top, smile_id: smile.id } }
          %img.avatar-xs{ src: smile.user.profile_picture.url(:small), loading: :lazy }
