= nav_entry t('views.navigation.notifications'), notifications_path, badge: notification_count, class: 'd-block d-sm-none'
- notifications = Notification.for(current_user).where(new: true).limit(4)
%li.nav-item.dropdown.d-none.d-sm-block
  %a.nav-link.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
    - if notification_count.nil?
      %i.fa.fa-bell-o
    - else
      %i.fa.fa-bell
    %span.sr-only Notifications
    %span.badge= notification_count
  .dropdown-menu.notification-center
    - if notifications.count == 0
      .dropdown-item.text-center.notifications--none
        %i.fa.fa-bell-o.no-notifications
        %p No new notifications.
      %a.dropdown-item.text-center{href: notifications_path('all')}
        %i.fa.fa-fw.fa-chevron-right
        Show all notifications
    - else
      - notifications.each do |notification|
        .dropdown-item.media.notification--dropdown-media
          = render "notifications/type/#{notification.target_type.downcase}", notification: notification

      %a.dropdown-item.text-center{href: notifications_path}
        %i.fa.fa-fw.fa-chevron-right
        Show all new notifications
