.card.push-settings.d-none
  .card-body
    .d-block.d-sm-flex
      .align-self-center= t(".description")
      .ms-sm-auto.mt-2.mt-sm-0
        %button.btn.btn-primary{ data: { action: "push-enable" } }= t("voc.y")
        %button.btn{ data: { action: "push-dismiss" } }= t("voc.n")
