#entries
  - @inbox.each do |i|
    = render "inbox/entry", i:

  - if @inbox.empty?
    = render "shared/empty", type: "inbox"

- if @more_data_available
  .d-flex.justify-content-center#paginator
    = button_to t("voc.load"), inbox_path,
      class: "btn btn-light",
      method: :get,
      params: { last_id: @inbox_last_id, author: @author }.compact,
      data: { controller: :hotkey, hotkey: "." },
      form: { data: { turbo_stream: true } }
