.container.j2-page
  = render 'layouts/messages'
  #entries
    - @inbox.each do |i|
      = render 'inbox/entry', i: i

  - if @inbox.empty?

    Nothing to see here.

= render "shared/links"
- @inbox.update_all(new: false)