.container.j2-page
  - @inbox.each do |i|
    .panel.inbox-box{'data-id' => i.id}
      %p
        %strong
          = user_screen_name i.question.user, i.question.author_is_anonymous
        asked:
      %p
        %strong
          = i.question.content
      %textarea{name: 'ib-answer', 'data-id' => i.id}
      %br/
      %button.btn.btn-success{name: 'ib-answer', 'data-ib-id' => i.id}
        Answer
