.container.j2-page
  = render 'layouts/messages'
  - @inbox.each do |i|
    .panel.panel-default.inbox-box{'data-id' => i.id}
      .panel-body
        %p
          %strong
            = user_screen_name i.question.user, i.question.author_is_anonymous
          asked:
        %p
          %strong
            = i.question.content
        %textarea.form-control{name: 'ib-answer', 'data-id' => i.id}
        %br/
        %button.btn.btn-success{name: 'ib-answer', 'data-ib-id' => i.id}
          Answer

  - if @inbox.empty?

    Nothing to see here.

= render "shared/links"