#entries
  - @inbox.each do |i|
    = render "inbox/entry", i: i

  - if @inbox.empty?
    %p.empty= t(".empty")

- if @more_data_available
  .d-flex.justify-content-center#paginator
    = button_to inbox_path(last_id: @inbox_last_id), class: "btn btn-light" do
      = t("voc.load")
