#entries
  - @inbox.each do |i|
    = render 'inbox/entry', i: i

  - if @inbox.empty?
    = t 'views.inbox.empty'

= render 'shared/cursored_pagination_dummy', more_data_available: @more_data_available, last_id: @inbox_last_id

- if @more_data_available

  .d-flex.justify-content-center.justify-content-sm-start
    %button.btn.btn-light#load-more-btn{ type: :button, data: { last_id: @inbox_last_id } }
      = t 'views.actions.load'
