= turbo_stream.append "entries" do
  - @inbox.each do |i|
    = render "inbox/entry", i: i

= turbo_stream.update "paginator" do
  - if @more_data_available
    = button_to t("voc.load"), inbox_path(last_id: @inbox_last_id), class: "btn btn-light"

