.card {
  margin-bottom: map-get($spacers, 3);
  box-shadow: $box-shadow-sm;
  background-color: var(--raised-bg);

  p:last-child {
    margin-bottom: 0;
  }
}

.card-header,
.card-footer {
  background-color: var(--raised-accent);
}