- provide(:title, generate_title("Notifications"))
= render 'notifications/notification_nav'
.container.j2-page
  = render 'notification_tabs'
  .col-md-9.col-xs-12.col-sm-9
    .panel.panel-default
      %ul#notifications.list-group
        - @notifications.each do |notification|
          = render 'notifications/notification', notification: notification

    #pagination= will_paginate @notifications, renderer: BootstrapPagination::Rails, page_links: false

    - if @notifications.next_page
      %button#load-more-btn.btn.btn-default{type: :button, data: { current_page: @notifications.current_page }}
        Load more
- Notification.for(current_user).update_all(new: false)
