.dropdown-menu.dropdown-menu-end{ role: :menu }
  %a.dropdown-item{ href: twitter_share_url(answer), target: "_blank" }
    %i.fa.fa-fw.fa-twitter
    = t(".twitter")
  %a.dropdown-item{ href: tumblr_share_url(answer), target: "_blank" }
    %i.fa.fa-fw.fa-tumblr
    = t(".tumblr")
  %a.dropdown-item{ href: telegram_share_url(answer), target: "_blank" }
    %i.fa.fa-fw.fa-telegram
    = t(".telegram")
  %a.dropdown-item{ href: "#", data: { controller: :share, action: "share#share", share_url_value: answer_share_url(answer) } }
    = t(".other")
