= turbo_stream.append "answers" do
  - @answers.each do |a|
    = render "answerbox", a:, show_question: false, subscribed_answer_ids: @subscribed_answer_ids

= turbo_stream.update "paginator" do
  - if @more_data_available
    = button_to t("voc.load"), question_path(@question.user.screen_name, @question.id),
      class: "btn btn-light",
      method: :get,
      params: { last_id: @answers_last_id },
      data: { controller: :hotkey, hotkey: "." },
      form: { data: { turbo_stream: true } }
