.container.announcements
  - @active_announcements.each do |announcement|
    .alert.alert-announcement
      %p= announcement.content
      - if announcement.link_present?
        %a.alert-link{ href: announcement.link_href }= announcement.link_text
