.panel.panel-default.answer-box{'data-id' => a.id}
  .panel-heading
    .media
      .media-left
        %img.img-rounded.img-answerbox
      .media-body
        %h6.text-muted.media-heading.answerbox-question-user= user_screen_name a.question.user, a.question.author_is_anonymous
        %p.answerbox-question-text= a.question.content
  .panel-body
    %p= a.content
    %br/
    - if privileged? a.user
      %button.btn.btn-danger{name: 'ab-destroy', 'data-a-id' => a.id}
        Delete