%span.hidden-xs.text-muted
  - unless user_signed_in?
    - if a.smile_count > 0
      %span{id: "ab-smile-count-#{a.id}"}= a.smile_count
      users smiled this
- if user_signed_in?
  - if current_user.smiled? a
    %button.btn.btn-info.btn-sm{type: :button, name: 'ab-smile', 'data-a-id' => a.id, 'data-action' => 'unsmile'}
      %i.fa.fa-frown-o
      %span{id: "ab-smile-count-#{a.id}"}= a.smile_count
  - else
    %button.btn.btn-info.btn-sm{type: :button, name: 'ab-smile', 'data-a-id' => a.id, 'data-action' => 'smile'}
      %i.fa.fa-smile-o
      %span{id: "ab-smile-count-#{a.id}"}= a.smile_count
%button.btn.btn-primary.btn-sm{type: :button, name: 'ab-comments', 'data-a-id' => a.id, 'data-state' => :hidden}
  %i.fa.fa-comments
  %span{id: "ab-comment-count-#{a.id}"}= a.comment_count
- if privileged? a.user
  %button.btn.btn-danger.btn-sm{name: 'ab-destroy', 'data-a-id' => a.id}
    %i.fa.fa-trash-o