.collapser{ aria: { hidden: "true" } }
  %button.btn.btn-primary.btn-sm.shadow{ data: { collapse_target: "action" } }
    %span.shown-text= t(".#{type}.hide")
    %span.collapsed-text= t(".#{type}.show")
