.container
  .locales
    %span
      %a{href: '#', id: 'locale-switch'}
        %i.fa.fa-globe
        = t('views.locale.languages')
    #locales-panel
      %ul
        - APP_LOCALES.each do |key, value|
          %li
            .flag{class: "flag-#{value[1]}"}
            %a{href: "?hl=#{key}"}= value[0]
