.container.d-print-none
  .locales
    %span
      %a{ href: '#', id: 'locale-switch' }
        %i.fa.fa-globe
        = t('views.locale.languages')
    .locales__panel#locales-panel
      %ul
        - APP_LOCALES.each do |key, value|
          %li
            .flag{ class: "flag-#{value[1]}" }
            %a{ href: "?hl=#{key}", rel: 'nofollow' }= value[0]
