.panel.panel-default
  .media
    .media-body
      %h6.media-heading.text-muted.answerbox--question-user
        = user_screen_name a.question.user
        asked
        = time_ago_in_words(a.question.created_at)
        ago
        - if a.question.answer_count > 1
          ·
          %a{href: show_user_question_path(a.question.user.screen_name, a.question.id)}
            #{a.question.answer_count} answers
      %p.answerbox--question-text
        = a.question.content