- type ||= nil
.card.questionbox{ data: { id: q.id } }
  .card-body
    .media
      - if type == 'discover'
        .pull-left
          %a{ href: user_screen_name(q.user, link_only: true) }
            %img.avatar-md.mr-2{ src: q.user&.profile_picture&.url(:small), loading: :lazy }
      .media-body
        - if user_signed_in?
          .pull-right
            .btn-group
              %button.btn.btn-link.btn-sm.dropdown-toggle{ data: { toggle: :dropdown }, aria: { expanded: false } }
                %span.caret
              = render "actions/question", question: q
        %h6.media-heading.text-muted.answerbox__question-user
          = t("answerbox.header.asked_html", user: user_screen_name(q.user), time: time_tooltip(q))
          - if q.answer_count > 1
            ·
            %a{ href: question_path(q.user.screen_name, q.id) }
              = pluralize(q.answer_count, t("voc.answer"))
        .answerbox__question-text
          = question_markdown q.content
