.panel.panel-default
  .panel-body
    .media
      .media-body
        %h6.media-heading.text-muted.answerbox--question-user
          = user_screen_name q.user
          asked
          %a{href: show_user_question_path(q.user.screen_name, q.id)}
            = time_ago_in_words(q.created_at)
            ago
          - if q.answer_count > 1
            ·
            %a{href: show_user_question_path(q.user.screen_name, q.id)}
              #{q.answer_count} answers
        %p.answerbox--question-text
          = q.content