.panel.panel-default.questionbox{data: { id: q.id }}
  .panel-body
    .media
      .media-body
        - if user_signed_in?
          .pull-right
            .btn-group
              %button.btn.btn-link.btn-sm.dropdown-toggle{data: { toggle: :dropdown }, aria: { expanded: :false }}
                %span.caret
              %ul.dropdown-menu.dropdown-menu-right{role: :menu}
                - if current_user.mod? or q.user == current_user
                  %li.text-danger
                    %a{href: '#', data: { action: 'ab-question-destroy', q_id: q.id }}
                      %i.fa.fa-trash-o
                      Delete Question
                - unless q.user == current_user
                  %li
                    %a{href: '#', data: { action: 'ab-question-report', q_id: q.id }}
                      %i.fa.fa-exclamation-triangle
                      Report
        %h6.media-heading.text-muted.answerbox--question-user
          = user_screen_name q.user
          asked
          %a{href: show_user_question_path(q.user.screen_name, q.id)}
            %span{title: q.created_at, data: { toggle: :tooltip, placement: :bottom }}
            = time_ago_in_words(q.created_at)
            ago
          - if q.answer_count > 1
            ·
            %a{href: show_user_question_path(q.user.screen_name, q.id)}
              #{q.answer_count} answers
        %p.answerbox--question-text
          = q.content
