.media.smiles
  .pull-left
    %i.fa.fa-smile-o
  .media-body
    - if a.smiles.all.count == 0
      = t 'views.answerbox.no_smile'
    - else
      - a.smiles.all.each do |smile|
        %a{href: show_user_profile_path(smile.user.screen_name), title: smile.user.screen_name, data: { toggle: :tooltip, placement: :top, smile_id: smile.id }}
          %img.img-rounded.answerbox--img-small{src: gravatar_url(smile.user)}