There are no comments yet
%ul.comments
  - report.moderation_comments.all.each do |comment|
    %li{data: { comment_id: comment.id }}
      .media.comments--media
        .pull-left
          %img.img-rounded.answerbox--img{src: gravatar_url(comment.user)}
        .media-body.comments--body
          %h6.media-heading.answerbox--question-user= user_screen_name comment.user
          - if user_signed_in?
            .pull-right
              .btn-group
                %button.btn.btn-link.btn-sm.dropdown-toggle{data: { toggle: :dropdown }, aria: { expanded: :false }}
                  %span.caret
                %ul.dropdown-menu.dropdown-menu-right{role: :menu}
                  - if privileged? a.user
                    %li.text-danger
                      %a{href: '#', name: 'ab-destroy', data: { a_id: comment.id }}
                        %i.fa.fa-trash-o
                        Delete
                  %li
                    %a{href: '#', name: 'ab-report', data: { a_id: comment.id }}
                      %i.fa.fa-exclamation-triangle
                      Report
          %p.comments--content= comment.content
.form-group.has-feedback
  %input.form-control.comments--box{type: :text, placeholder: 'Comment...'}
  %span.text-muted.form-control-feedback.comments--count 160