There are no comments yet
%ul.comments
  %li
    %img.img-rounded.answerbox--img-small
    %b username
    comment
.form-group.has-feedback
  %input.form-control.comments--box{type: :text, placeholder: 'Comment...'}
  %span.text-muted.form-control-feedback.comments--count 160