.col-md-3.col-sm-3.col-xs-12
  .panel.panel-default
    .panel-body
      %ul.nav.nav-pills.nav-stacked
        = nav_entry "All reports", "#"
        = nav_entry "Users", "#"
        = nav_entry "Answers", "#"
        = nav_entry "Comments", "#"