#reports
  - @reports.each do |r|
    = render 'moderation/moderationbox', report: r

- unless @reports.count.zero?
  = render 'shared/cursored_pagination_dummy', more_data_available: @more_data_available, last_id: @reports_last_id, permitted_params: %i[type]

  - if @more_data_available
    .d-flex.justify-content-center.justify-content-sm-start
      %button.btn.btn-light#load-more-btn{ type: :button, data: { last_id: @reports_last_id } }
        = t 'views.actions.load'
