%h2
  - if @host.nil?
    Users sorted by reports
  - else
    Users with the same IP
#users
  .row.row-cols-1.row-cols-sm-2.row-cols-md-3
    - @users.each do |u, c|
      .col.pb-3
        = render 'moderation/userbox', user: u, count: (c || 0)
