%h2
  - if @host.nil?
    Users sorted by reports
  - else
    Users with the same IP
#users
  .row
    - @users.each do |u, c|
      .col-md-4.col-sm-12col-xs-12
        = render 'moderation/userbox', user: u, count: c
