.card
  .card-body
    %h2= t(".heading")
    - if current_user.otp_module_disabled?
      = render partial: "settings/security/totp_setup", locals: { qr_svg: qr_svg }
    - else
      = render partial: "settings/security/totp_enabled", locals: { recovery_code_count: recovery_code_count }
