#timeline
  - @timeline.each do |answer|
    = render "answerbox", a: answer

= render "shared/cursored_pagination_dummy", more_data_available: @more_data_available, last_id: @timeline_last_id

- if @more_data_available
  .d-flex.justify-content-center.justify-content-sm-start
    %button.btn.btn-light#load-more-btn{ type: :button, data: { last_id: @timeline_last_id } }
      = t("voc.load")

- provide(:title, @title || APP_CONFIG["site_name"])
- parent_layout 'feed'
