= turbo_stream.append "timeline" do
  - @timeline.each do |answer|
    = render "answerbox", a: answer, subscribed_answer_ids: @subscribed_answer_ids

= turbo_stream.update "paginator" do
  - if @more_data_available
    = button_to t("voc.load"), request.path,
      class: "btn btn-light",
      method: :get,
      params: { last_id: @timeline_last_id },
      data: { controller: :hotkey, hotkey: "." },
      form: { data: { turbo_stream: true } }
