#timeline
  - @timeline.each do |answer|
    = render "answerbox", a: answer

- if @more_data_available
  .d-flex.justify-content-center#paginator
    = button_to t("voc.load"), request.path,
      class: "btn btn-light",
      method: :get,
      params: { last_id: @timeline_last_id },
      form: { data: { turbo_stream: true } }

- provide(:title, @title || APP_CONFIG["site_name"])
- parent_layout 'feed'
