# The site name, shown everywhere.
site_name: "justask"

hostname: "justask.rrerr.net"
https: true

email_from: "noreply@justask.rrerr.net"

# Name of the "Anonymous" user. (e.g. "Anonymous Coward", "Arno Nym", "Mr. X", ...)
anonymous_name: "Anonymous"

# How many items (questions, answers, ...) do you want to show per page?
items_per_page: 10

# OAuth tokens
sharing:
  twitter:
    enabled: true
    # Get the tokens from https://apps.twitter.com
    consumer_key: ''
    consumer_secret: ''
  facebook:
    enabled: false
  tumblr:
    enabled: true
    # Get the tokens from https://www.tumblr.com/oauth/apps
    consumer_key: ''
    consumer_secret: ''

# Redis
redis_url: "redis://localhost:6379"