# The site name, shown everywhere.
site_name: "justask"

# Use the SVG logo from `/public/logo.svg`
use_svg_logo: false

hostname: "justask.rrerr.net"
https: true

email_from: "noreply@justask.rrerr.net"
# Required by WebPush spec in case of problems with notifications
contact_email: "contact@justask.rrerr.net"

# Name of the "Anonymous" user. (e.g. "Anonymous Coward", "Arno Nym", "Mr. X", ...)
anonymous_name: "Anonymous"

forbidden_screen_names:
  - justask_admin
  - retrospring_admin
  - admin
  - justask
  - retrospring
  - moderation
  - moderator
  - mod
  - administrator
  - siteadmin
  - site_admin
  - help
  - retro_spring
  - retroospring
  - retrosprlng

# Text shown on the about page (Markdown can be used here)
about: |
  # About

  Use this space to describe your Retrospring instance!

# Custom links in the footer
# links:
  # - text: "Patreon"
    # url: "https://patreon.com/retrospring"

# How many items (questions, answers, ...) do you want to show per page?
items_per_page: 10

features:
  # "Discover" page
  discover:
    enabled: true
  # Public timeline
  public:
    enabled: true

# Redis
redis_url: "redis://localhost:6379"

# uncomment if using cloud storage
# fog:
  # fog credentials
  # credentials:
    # provider: 'AWS'
    # aws_access_key_id: 'ACCESS KEY'
    # aws_secret_access_key: 'SECRET KEY'
    # region: 'space-pluto-1'
    ## URL host, comment out to use default, GENERALLY you don't want to define this
    # host: 's3.wherever.com'
    ## if you want to use Ceph RadosGW, use these options (region doesn't matter)
    # endpoint: 'http://radosgw.example.com'
    # path_style: true
  # bucket name, required
  # directory: 'retrospring'

# hCaptcha -- get keys from https://www.hcaptcha.com/
hcaptcha:
  enabled: false
  site_key: ''
  secret_key: ''

# TOTP Drift period in seconds
otp_drift_period: 30

# This list controls the "accept" attribute on file upload fields
# This ensures mobile users get an appropriate file picker (one for only images)
# as well as preventing the upload of videos or formats we don't support
# including making iOS automatically convert HEIC files to JPEG
accepted_image_formats:
  - image/jpeg
  - .jpg
  - .jpeg
  - image/png
  - .png
  - image/gif
  - .gif

# This list controls which hosts are excempt from the linkfilter
# Note: `hostname` is always included by default
allowed_hosts_in_markdown:
  - twitter.com
  - youtube.com
  - youtu.be

# Sentry connection string
sentry_dsn: ''

# Canny feedback forms
# canny:
#  sso: "CANNY_SSO_TOKEN_HERE"
#  feature_board: "CANNY_FEATURE_BOARD_TOKEN"
#  bug_board: "CANNY_BUGS_BOARD_TOKEN"
