.card
  .card-body
    #entries
      - if @anonymous_blocks.empty?
        .text-center= t(".empty")
      - @anonymous_blocks.each do |block|
        = render "shared/anonymous_block", block:

- provide(:title, generate_title(t(".title")))
- parent_layout "moderation"
