.card
  .list-group
    = list_group_item t(".dashboard"), admin_dashboard_path
    = list_group_item t(".announcements"), announcement_index_path

.card
  .list-group
    = list_group_item t(".rails"), rails_admin_path
    = list_group_item t(".pghero"), pghero_path
