.card
  .list-group.list-group-horizontal-sm.text-center
    = list_group_item 'Answers', user_path(user), badge: user.answered_count
    = list_group_item 'Questions', show_user_questions_path(user.screen_name), badge: user.asked_count
    = list_group_item 'Followers', show_user_followers_path(user.screen_name), badge: user.followers.count
    = list_group_item 'Following', show_user_followings_path(user.screen_name), badge: user.followings.count
