%nav.navbar.navbar-default.navbar-static-top.j2-navbar.visible-xs{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#j2-tl-navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"} Timelines
    #j2-tl-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        = nav_entry "Public", public_timeline_path
        - current_user.groups.each do |group|
          = nav_entry group.display_name, group_timeline_path(group.name)
