.container
  %h1.centre
    About
    = APP_CONFIG['site_name']
  
  = render 'layouts/messages'
  
  /
    TODO: fill this out.
    also TODO: find a way to make each panel's height equal
  
  .row
    .col-sm-4
      .panel.panel-default
        .panel-body
          %h3 Title 1
          Blah blah blah blah...
          %br/
          Someone fill this text here.
    .col-sm-4
      .panel.panel-default
        .panel-body
          %h3 Alpha version
          This is an alpha version, full of bugs.  Caveat emptor.
    .col-sm-4
      .panel.panel-default
        .panel-body
          %h3 Made with...
          %ul
            %li HTML5
            %li Ruby on Rails
            %li FreeBSD, Linux
            %li RubyMine, Kate, vim
            %li GitLab

= render "shared/links"
