- provide(:title, generate_title("Frequently Asked Questions"))
.jumbotron.j2-jumbo.text-center.particle-jumbotron
  #particles
  .particle-content
    %h1 Frequently Asked Questions
    %p
      Everything you want to know about
      = succeed '!' do
        = APP_CONFIG['site_name']
.container
  .panel.panel-default
    .panel-body
      = raw_markdown_io "service-docs/en/help/faq.md"
