.container
  %h1.text-center Frequently Asked Questions

  .panel-group{id: "accordion", role: "tablist", aria: {multiselectable: :true}}
    .panel.panel-default
      .panel-heading{id: "faqOne", role: "tab"}
        %h4.panel-title
          %a.collapsed{data: {toggle: "collapse",parent: "#accordion"}, aria: {expanded: :false, controls: "collapseOne"}, href: "#collapseOne"}
            1. Who created this website and why?
      .panel-collapse.collapse{id: "collapseOne", role: "tabpanel", aria: {labelledby: "faqOne"}}
        .panel-body
          Retrospring was founded by nilsding and pixeldesu, initially starting as a single-user PHP script, getting rewritten in Python and reaching its current iteration written in Ruby on Rails. It was made with the purpose of bringing back social aspects to answering questions with adding another layer to the entire process, which are comments. A lot of the planned features are based off of Formspring (now known as Spring), which is now replaced by ask.fm, which we dislike for selling of our (and your data) and the censorship.

    .panel.panel-default
      .panel-heading{id: "faqTwo", role: "tab"}
        %h4.panel-title
          %a.collapsed{data: {toggle: "collapse",parent: "#accordion"}, aria: {expanded: :false, controls: "collapseTwo"}, href: "#collapseTwo"}
            1.1 Why
            %b Retrospring
            ?
      .panel-collapse.collapse{id: "collapseTwo", role: "tabpanel", aria: {labelledby: "faqTwo"}}
        .panel-body
          First of all, we made several polls for new names, but no one had any good ideas, so we had to come up with something new, because the initial project name (justask) would cause problems with ask.com, since they hold a bunch of the justask-based domains for themselves. So we sat together one evening and Retrospring came to our mind because we want to bring old features from Formspring back to life in a new way! It's simple as that.

    .panel.panel-default
      .panel-heading{id: "faqThree", role: "tab"}
        %h4.panel-title
          %a.collapsed{data: {toggle: "collapse",parent: "#accordion"}, aria: {expanded: :false, controls: "collapseThree"}, href: "#collapseThree"}
            2. Do I have to pay to use this site?
      .panel-collapse.collapse{id: "collapseThree", role: "tabpanel", aria: {labelledby: "faqThree"}}
        .panel-body
          No, Retrospring will always remain free. You can however, if you want to support our vision, head to our Patreon or just donate over Paypal!

    .panel.panel-default
      .panel-heading{id: "faqFour", role: "tab"}
        %h4.panel-title
          %a.collapsed{data: {toggle: "collapse",parent: "#accordion"}, aria: {expanded: :false, controls: "collapseFour"}, href: "#collapseFour"}
            3. Do you do anything with our data?
      .panel-collapse.collapse{id: "collapseFour", role: "tabpanel", aria: {labelledby: "faqFour"}}
        .panel-body
          No. We don't sell it to any third parties. Your data doesn't leave our servers, because we need it if any user does something illegal we have to provide the data or at least check it up and validate the cases ourselves. But anything other than that is not going to happen, such as us selling your precious data to big bad evil companies.

    .panel.panel-default
      .panel-heading{id: "faqFive", role: "tab"}
        %h4.panel-title
          %a.collapsed{data: {toggle: "collapse",parent: "#accordion"}, aria: {expanded: :false, controls: "collapseFive"}, href: "#collapseFive"}
            4. Can I contribute to the random question pool?
      .panel-collapse.collapse{id: "collapseFive", role: "tabpanel", aria: {labelledby: "faqFive"}}
        .panel-body
          You are more than welcome too, over on
          %a{href: "https://github.com/retrospring/questiongenerator"}
            Github
          !

    .panel.panel-default
      .panel-heading{id: "faqSix", role: "tab"}
        %h4.panel-title
          %a.collapsed{data: {toggle: "collapse",parent: "#accordion"}, aria: {expanded: :false, controls: "collapseSix"}, href: "#collapseSix"}
            5. What are
            %b motivation headers
            ?
      .panel-collapse.collapse{id: "collapseSix", role: "tabpanel", aria: {labelledby: "faqSix"}}
        .panel-body
          The motivation header is the short text shown in the top of the questionbox on your profile, motivating another user to ask you a question. You can write anything you want, but the best way using it would be including something like "Ask me anything!" or if you want questions about a special thing you did "Ask me anything about my project X!" so people know what they should ask you.

    .panel.panel-default
      .panel-heading{id: "faqSeven", role: "tab"}
        %h4.panel-title
          %a.collapsed{data: {toggle: "collapse",parent: "#accordion"}, aria: {expanded: :false, controls: "collapseSeven"}, href: "#collapseSeven"}
            6. Will Retrospring be available in different languages?
      .panel-collapse.collapse{id: "collapseSeven", role: "tabpanel", aria: {labelledby: "faqSeven"}}
        .panel-body
          Yes, it sure will be! You'll just have to wait a bit, since we have to implement and change a lot of stuff before we can actually start adding other languages into Retrospring. If you want to help us translating the website, don't rush out yet, we will make an announcement when we start searching for people.
    .panel.panel-default
      .panel-heading{id: "faqEight", role: "tab"}
        %h4.panel-title
          %a.collapsed{data: {toggle: "collapse",parent: "#accordion"}, aria: {expanded: :false, controls: "collapseEight"}, href: "#collapseEight"}
            7. Can I format my questions/answers?
      .panel-collapse.collapse{id: "collapseEight", role: "tabpanel", aria: {labelledby: "faqEight"}}
        .panel-body
          %p
            You sure can! We use a customized version of markdown for this. Wrap your text in following ways to format it!
            %code *italic*
            or
            %code _italic_
            ,
            %code **bold**
            or
            %code __bold__
            and
            %code
              \~~strikethrough~~

          %p
            You can also create lists with this method:
          %pre
            \* item 1
            \* item 2

          %p
            Quotes? Here you go!:
          %pre
            > This is a quote from a famous person

          %p
            Don't like the formatting? You can escape it with prepending a
            %code \
            before the
            %code *
            ,
            %code _
            or
            %code >

    .panel.panel-default
      .panel-heading{id: "faqNine", role: "tab"}
        %h4.panel-title
          %a.collapsed{data: {toggle: "collapse",parent: "#accordion"}, aria: {expanded: :false, controls: "collapseNine"}, href: "#collapseNine"}
            8. Is this open-source software?
      .panel-collapse.collapse{id: "collapseNine", role: "tabpanel", aria: {labelledby: "faqNine"}}
        .panel-body
          Currently not. We haven't decided if we want to publish the underlying software stack at some point.

