- if user_signed_in?
  .container
    %h1 Static#index
    = render 'layouts/messages'
    
    %p Find me in app/views/static/index.html.haml
- else
  .jumbotron
    .container
      = render 'layouts/messages'
      %h1 Hi!
      %p Ask questions, give answers and learn more about your friends.
      %p
        %a.btn.btn-primary.btn-lg{href: url_for(new_user_registration_path)}
          Register now
      %small
        Already a member?
        = link_to 'Sign in', new_user_session_path