#modal-group-memberships.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal-group-memberships-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#modal-group-memberships-label.modal-title Manage group memberships
      %ul.list-group
        - current_user.groups.each do |group|
          %li.list-group-item
            .media
              .pull-left.j2-table
                %input.input--center{type: :checkbox, name: 'gm-group-check', data: { group_name: group.name }, checked: @user.member_of?(group)}
              .media-body
                .list-group-item-heading= group.display_name
                .list-group-item-text.text-muted.j2-up
                  %span{id: "#{group.name}-members"} x
                  members
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
        %button.btn.btn-primary{name: 'gm-save', :type => "button"} Save