= turbo_stream.append "questions" do
  - @questions.each do |q|
    = render 'shared/question', q: q, type: nil

= turbo_stream.update "paginator" do
  - if @more_data_available
    = button_to t("voc.load"), show_user_questions_path(@user),
      class: "btn btn-light",
      method: :get,
      params: { last_id: @questions_last_id },
      form: { data: { turbo_stream: true } }
