#questions
  - @questions.each do |q|
    = render 'shared/question', q: q, type: nil

= render 'shared/cursored_pagination_dummy', more_data_available: @more_data_available, last_id: @questions_last_id

- if @more_data_available
  .d-flex.justify-content-center.justify-content-sm-start
    %button.btn.btn-light#load-more-btn{ type: :button, data: { last_id: @questions_last_id } }
      = t("voc.load")

- provide(:title, questions_title(@user))
- parent_layout 'user/profile'
