#questions
  - @questions.each do |q|
    = render 'shared/question', q: q, type: nil

- if @more_data_available
  .d-flex.justify-content-center.justify-content-sm-start#paginator
    = button_to t("voc.load"), show_user_questions_path(@user),
      class: "btn btn-light",
      method: :get,
      params: { last_id: @questions_last_id },
      form: { data: { turbo_stream: true } }

- provide(:title, questions_title(@user))
- parent_layout 'user/profile'
