- unless @user.banned?
  #pinned-answers
    - @pinned_answers.each do |a|
      = render "answerbox", a:

  #answers
    - @answers.each do |a|
      = render "answerbox", a:

- if @more_data_available
  .d-flex.justify-content-center.justify-content-sm-start#paginator
    = button_to t("voc.load"), user_path(@user),
      class: "btn btn-light",
      method: :get,
      params: { last_id: @answers_last_id },
      form: { data: { turbo_stream: true } }

:ruby
  provide(:title, user_title(@user))
  provide(:og, user_opengraph(@user))
  provide(:meta, user_twitter_card(@user))
  parent_layout 'user/profile'
