.container-lg.container--main
  .row
    .col-md-3.col-xs-12.col-sm-4
      = render 'tabs/settings'
    .col-md-9.col-xs-12.col-sm-8
      = render 'layouts/messages'
      = yield

.d-block.d-sm-none= render "shared/links"
