@use "sass:map";

.comment {
  list-style-type: none;
  margin-bottom: map.get($spacers, 2);

  &__container {
    padding-left: 0;
  }

  &__user,
  &__content {
    margin-bottom: 0;
    word-break: break-word;
  }

  &__user-avatar {
    margin-right: map.get($spacers, 2);
    border-radius: $avatar-border-radius;
  }

  &__input-group {
    position: relative;
  }

  &__input {
    &.is-invalid {
      background-image: none;
    }
  }

  &__compose-wrapper {
    display: flex;
  }

  &__submit-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0.5rem;
  }
}

