.navbar-dev {
  &.fixed-top:before {
    top: 0;
  }

  &:before {
    @extend .progress-bar-striped;
    @extend .bg-warning;

    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-size: 40px 40px;

    @include media-breakpoint-up('md') {
      bottom: unset;
      top: 0;
    }
  }
}
