@use "sass:map";
@use "sass:math";

.userbox {
  &__header {
    width: 100%;
    height: auto;
    max-height: 70px;

    @include media-breakpoint-up(sm) {
      max-height: 60px;
    }
  }

  &__avatar {
    display: block;
    width: map.get($avatar-sizes, "lg");
    height: map.get($avatar-sizes, "lg");
    margin-top: -(math.div(map.get($avatar-sizes, "lg"), 2));
    margin-left: auto;
    margin-right: auto;
    border-radius: $avatar-border-radius;
    box-shadow: $box-shadow;
  }

  .profile__name {
    display: block;
    margin: map.get($spacers, 3) 0;
    text-align: center;
    text-decoration: none;
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }

  .profile__actions {
    margin-top: auto;
  }
}
