.card.question--fixed{ class: hidden ? 'question--hidden' : '', tabindex: hidden ? -1 : '', aria: { hidden: hidden } }
  .container
    .card-body
      .d-flex
        .flex-shrink-0
          %a{ href: user_path(user) }
            %img.answerbox__question-user-avatar.avatar-md{ src: user.profile_picture.url(:medium) }
        .flex-grow-1
          = t(".title_html", screen_name: user.screen_name, user_id: user.id)
