- provide(:title, generate_title(t(".title", user: @user.screen_name)))

= render "header", user: @user, hidden: false
= render "header", user: @user, hidden: true

.container-lg.container--main
  #entries
    - @inboxes.each do |i|
      = render "inbox/entry", i: i

  - if @more_data_available
    .d-flex.justify-content-center#paginator
      = button_to t("voc.load"), mod_inbox_index_path(@user),
        class: "btn btn-light",
        method: :get,
        params: { last_id: @inbox_last_id },
        form: { data: { turbo_stream: true } }
