- provide(:title, generate_title(t(".title", user: @user.screen_name)))

= render "header", user: @user

.container-lg.question-page
  #entries
    - if @inboxes.empty?
      = render "shared/empty", icon: "fa fa-inbox", translation_key: ".moderation.inbox"

    - @inboxes.each do |i|
      = render "inbox/entry", i: i

  - if @more_data_available
    .d-flex.justify-content-center#paginator
      = button_to t("voc.load"), mod_inbox_index_path(@user),
        class: "btn btn-light",
        method: :get,
        params: { last_id: @inbox_last_id },
        data: { controller: :hotkey, hotkey: "." },
        form: { data: { turbo_stream: true } }
