= turbo_stream.append "entries" do
  - @inboxes.each do |i|
    = render "inbox/entry", i: i

= turbo_stream.update "paginator" do
  - if @more_data_available
    = button_to t("voc.load"), mod_inbox_index_path(@user),
      class: "btn btn-light",
      method: :get,
      params: { last_id: @inbox_last_id },
      form: { data: { turbo_stream: true } }
