- provide(:title, generate_title('Privacy Policy'))
.container-lg.container--main
  .card
    .card-body
      = t("policy.privacy_policy_html", app_name: APP_CONFIG["site_name"], contact_email: APP_CONFIG["contact_email"])
