// Color overrides for Bootstrap
$primary: #5e35b1;

// Cards
$card-border-width: 0;

// List Groups
$list-group-border-width: 0;

// nProgress
$nprogress-color: lighten($navbar-inverse-bg, 25%);

// Color names for theme generation
$colorNames: (
  "primary", 
  "danger",
  "warning",
  "info",
  "success"
);

:root {
  --background: #f0edf4;
  --card-bg: #ffffff;
  --card-cap-bg: #f7f7f7;
  --input-bg: #ffffff;

  /**
   NOTE for all *-text variables
   ----------------------------------------------
   The text-variables are present as triplets
   because in some places it's required to adjust
   their transparency.

   So, for general usage, use:
   color: RGB(var(--*-text));

   And for transparent usage, use:
   color: rgba(var(--*-text), .7); 

   The uppercase RGB is required because internally
   SassC wants more than one argument for rgb(),
   hence writing RGB() bypasses that check, but
   browsers interpret it correctly.
   */

  --primary-text: 255, 255, 255;
  --danger-text: 255, 255, 255;
  --warning-text: 255, 255, 255;
  --info-text: 255, 255, 255;
  --success-text: 255, 255, 255;

  --muted-text: 108, 117, 125;

  --input-text: 0, 0, 0;
}