/*
 *= require rails_bootstrap_forms
 *= require growl
 *= require jquery.guillotine
 *= require sweetalert
 *= require jquery.minicolors
 *= require flags
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$font-family-sans-serif:  "Lato","Open Sans", "Helvetica Neue", Helvetica, "DejaVu Sans", Arial, sans-serif;
$font-family-serif:       Georgia, "DejaVu Serif", "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   "PragmataPro", Monaco, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          1rem;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

$gray: #e2e2e2;
$brand-primary: #5e35b1;
$navbar-inverse-bg: #5e35b1;
$navbar-inverse-link-color: #ffffff;
$navbar-inverse-link-hover-color: #ffffff;
$navbar-inverse-link-hover-bg: transparent;
$navbar-inverse-link-active-color: #ffffff;
$navbar-inverse-link-active-bg: transparent;
$navbar-inverse-link-active-bg-mobile: darken(#5e35b1, 7%);
$navbar-inverse-link-disabled-color: darken(#fff, 12.5%);
$navbar-inverse-link-disabled-bg: transparent;
$navbar-inverse-brand-color: $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color: darken($navbar-inverse-link-color, 10%);
$navbar-inverse-brand-hover-bg: transparent;
$navbar-inverse-toggle-hover-bg: #512da8;
$navbar-inverse-toggle-icon-bar-bg: #7e57c2;
$navbar-inverse-toggle-border-color: #512da8;

/**
 SETTINGS
 ----------------------------------------------
 Variable definitions, tools and mixins used
 across all styling definitions.
 */

@import
"variables";

/**
 VENDOR
 ----------------------------------------------
 Imported vendor assets used by Retrospring.
 */

@import
"bootstrap",
"font-awesome",
"nprogress",
"nprogress-bootstrap";

/**
 OVERRIDES
 ----------------------------------------------
 The imports from "overrides/" define almost barely
 any style adjustments but rather override default
 Bootstrap behaviour.

 The largest change to regular bootstrap is the switch
 to using the available CSS variables for most elements
 used on the site, so theming can be done with changing
 only those.
 */

@import
"overrides/alerts",
"overrides/buttons",
"overrides/colors",
"overrides/card",
"overrides/dropdown",
"overrides/inputs",
"overrides/links",
"overrides/list-group",
"overrides/navbar";

/**
 COMPONENTS
 ----------------------------------------------
 Custom components defined for Retrospring.
 */

@import
"components/jumbotron";

body { padding-top: 50px; }

@import 'bootstrap-datetimepicker';
.remove-native-picker::-webkit-calendar-picker-indicator{
  display: none
}

@import "base";

.minicolors-theme-bootstrap .minicolors-swatch {
  top:           0;
  left:          0;
  width:         42px;
  height:        42px;
  border-radius: 0;
}
