/*
 *= require rails_bootstrap_forms
 *= require growl
 *= require jquery.guillotine
 *= require sweet-alert
 *= require jquery.minicolors
 *= require flags
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$font-family-sans-serif:  "Comic Sans MS", "Comic Sans", "Comic Neue", "Chalkboard", "Chalkboard SE", "Marker Felt", "Lato","Open Sans", "Helvetica Neue", Helvetica, "DejaVu Sans", Arial, sans-serif;
$font-family-serif:       "Zapfino", Georgia, "DejaVu Serif", "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   "PragmataPro", Monaco, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          14px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

$brand-primary: #5e35b1;
$navbar-inverse-bg: #5e35b1;
$navbar-inverse-link-color: #ffffff;
$navbar-inverse-link-hover-color: #ffffff;
$navbar-inverse-link-hover-bg: transparent;
$navbar-inverse-link-active-color: #ffffff;
$navbar-inverse-link-active-bg: transparent;
$navbar-inverse-link-active-bg-mobile: darken(#5e35b1, 7%);
$navbar-inverse-link-disabled-color: darken(#fff, 12.5%);
$navbar-inverse-link-disabled-bg: transparent;
$navbar-inverse-brand-color: $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color: darken($navbar-inverse-link-color, 10%);
$navbar-inverse-brand-hover-bg: transparent;
$navbar-inverse-toggle-hover-bg: #512da8;
$navbar-inverse-toggle-icon-bar-bg: #7e57c2;
$navbar-inverse-toggle-border-color: #512da8;

@import "bootswatch/cosmo/variables";

@import "bootstrap";

body { padding-top: $navbar-height; }

@import 'bootstrap-datetimepicker';
.remove-native-picker::-webkit-calendar-picker-indicator{
  display: none
}

@import "bootswatch/cosmo/bootswatch";

@import "base";

@import "font-awesome";

$nprogress-color: lighten($navbar-inverse-bg, 25%);
@import 'nprogress';
@import 'nprogress-bootstrap';

.minicolors-theme-bootstrap .minicolors-swatch {
  top:           0;
  left:          0;
  width:         42px;
  height:        42px;
  border-radius: 0;
}
