/* all custom SCSS should go into here */

body {
  overflow-y: scroll;
  word-wrap: break-word;
  background-color: var(--background);
  padding-top: 50px;
}

@import "scss/flags";
@import "scss/variable";
@import "scss/generic";
@import "scss/answerbox";
@import "scss/comments";
@import "scss/entry";
@import "scss/panel";
@import "scss/notifications";

.j2-page {
  padding-top: 30px;
}

.ios-web-app {
  padding-top: 1em;
}

#load-more-btn {
  margin-bottom: 1.5em;
}

.smiles {
  margin-bottom: 7px;
}

.j2-lh {
  margin-top: 48px;
}

.j2-up {
  text-transform: uppercase;
}

.j2-label {
  display: inline-block;
}

.j2-table {
  display: table;
}

.input--center {
  display: table-cell;
  vertical-align: middle;
}

.sweet-overlay {
  z-index: 1031;
}

#create-group {
  margin-top: 5px;
}

.j2-delete {
  color: theme-color('danger');
  text-decoration: none;
}

.j2-navbar {
  margin-bottom: 0px;
}

@include media-breakpoint-down(xs) {
  .j2-col-reset {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#growls.default{
  top:64px;
  right:10px
}

.links {
  padding-bottom: 10px;
}

#profile {
  border-color: transparent;
  border-width: 0px;
}

.heading-about {
  margin-top: 0px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
