/* all custom SCSS should go into here */

body {
  overflow-y: scroll;
}

.j2-page {
  padding-top: 30px;
}

.centre {
  text-align: center;
}

.entry-subtext {
  color: $navbar-inverse-bg;
  margin-top: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80%;
}

.entry-text {
  margin-bottom: 0px;
}

.img-answerbox {
  min-height: 64px;
  min-width: 64px;
  height: 64px;
  width: 64px;
}

.answerbox-question-text, .answerbox-question-user {
  margin-bottom: 0px;
}

.answerbox-question-text {
  font-weight: bold;
  color: $gray-darker;
}

.user-displayname {
  margin-top: 12px;
  margin-bottom: 2px;
}

.user-username {
  margin-top: 0px;
  margin-bottom: 2px;
}

.user-admin {
  color: $brand-danger;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80%;
}

.text-muted a, .text-muted a:hover {
  color: $gray-dark;
  text-decoration: none;
}