/* all custom SCSS should go into here */

body {
  overflow-y: scroll;
  word-wrap: break-word;
}

@import "scss/answerbox";
@import "scss/comments";
@import "scss/entry";
@import "scss/navbar";
@import "scss/panel";
@import "scss/user";
@import "scss/notifications";

.j2-page {
  padding-top: 30px;
}

.centre {
  text-align: center;
}

.ios-web-app {
  padding-top: 1em;
}

#load-more-btn {
  margin-bottom: 1.5em;
}

.j2-jumbo {
  background-color: darken($navbar-inverse-bg, 10%);
  color: #fff;
}