%p{ style: 'margin:0px;padding:0px' }
  Hello
  = succeed '!' do
    = @resource.screen_name
%p &nbsp;
%p{ style: 'margin:0px;padding:0px' } Someone (hopefully you) has requested a link to change your password. You can do this through the link below.
%p{ style: 'margin:0px;padding:0px' }
  = link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token, protocol: (APP_CONFIG['https'] ? :https : :http))
%p &nbsp;
%p{ style: 'margin:0px;padding:0px' } If you didn't request this, please ignore this email.
%p{ style: 'margin:0px;padding:0px' } Your password won't change until you access the link above and create a new one.
