.entry {
  $this: &;
  margin: map-get($spacers, 4) 0;

  &__value {
    display: block;
    text-align: center;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 0;
  }

  &__description {
    display: block;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
    margin-top: 0px;
  }
}