= render 'navigation/desktop'
= render 'navigation/mobile'

= render 'modal/ask'
%button.btn.btn-primary.btn-fab.d-block.d-lg-none{ data: { target: '#modal-ask-followers', toggle: :modal }, type: 'button' }
  %i.fa.fa-pencil-square-o
