- notifications = Notification.for(current_user).where(new: true).limit(4)
= render 'navigation/desktop', notifications: notifications
= render 'navigation/mobile', notifications: notifications

= render 'modal/ask'
%button.btn.btn-primary.btn-fab.d-block.d-lg-none{ data: { target: '#modal-ask-followers', toggle: :modal }, type: 'button' }
  %i.fa.fa-pencil-square-o
