%nav.navbar.navbar-themed.bg-primary.fixed-bottom.d-lg-none.d-block.d-print-none#rs-mobile-nav{ class: Rails.env.development? ? "navbar-dev" : "", role: :navigation }
  .container
    %ul.nav.navbar-nav.navbar-icon-row
      %li.nav-item.profile--image-dropdown
        %a.nav-link{ href: '#', data: { bs_toggle: 'dropdown', bs_target: '#rs-mobile-nav-profile' }, aria: { controls: 'rs-mobile-nav-profile', expanded: 'false' } }
          = render AvatarComponent.new(user: current_user, size: "md", classes: ["d-inline"])
        = render 'navigation/dropdown/profile', size: "mobile"
