%noscript
  .alert.alert-danger
    = t(".noscript")

- flash.each do |key, value|
  .alert.alert-dismissible{ class: "alert-#{bootstrap_color key}", role: :alert }
    %button.close{ type: :button, data: { dismiss: :alert } }
      %span{ aria: { hidden: true } } &times;
      %span.sr-only= t("voc.close")
    = value
