%noscript
  .alert.alert-danger
    = t(".noscript")

- flash.each do |key, value|
  .alert.alert-dismissible{ class: "alert-#{bootstrap_color key}", role: :alert }
    %button.btn-close{ type: :button, data: { bs_dismiss: :alert } }
      %span.visually-hidden= t("voc.close")
    = value
