.container.container--main
  .row
    .col-md-3.col-xs-12.col-sm-4.order-2.order-sm-1
      = render 'inbox/sidebar'
    .col-md-9.col-xs-12.col-sm-8.order-1.order-sm-2
      = render 'layouts/messages'
      = yield

= render "shared/links"

- Inbox.where(id: @inbox.ids).update_all(new: false)
- provide(:title, generate_title("Inbox"))
- parent_layout "base"