%style{type: "text/css"} p{margin:0;padding:0;}*,div,small,span,body{font-family:Arial;}
%div{style: 'background: #5e35b1; padding: 5px; padding-left: 10px; font-size: 25px; color: white; font-family: Arial; width: 800px; margin: 0;'}= APP_CONFIG['site_name']
%div{style: 'border: #5e35b1 5px solid; padding: 5px; border-top: none; background: white; color: black; font-family: Arial; width: 795px; margin: 0;'}
  = yield
%small{style: 'color: grey; display: block; width: 800px; text-align: center;'}
  &copy;
  = Time.zone.now.year
  = APP_CONFIG['site_name']
