= render 'navigation/moderation'
.container-lg.container--main
  .row
    .col-md-3.col-sm-4.col-xs-12
      = render 'tabs/moderation'
    .col-md-9.col-sm-8.col-xs-12
      = yield

- provide(:title, generate_title('Moderation'))
- parent_layout 'base'
