.container-lg.container--main
  .row
    .col-md-3.col-xs-12.col-sm-4
      = render 'tabs/notifications'
    .col-md-9.col-xs-12.col-sm-8
      = yield

:ruby
  Notification.for(current_user).update_all(new: false)
  parent_layout 'base'
